main {
  .section1 {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width:800px) {
      grid-template-columns: 100%;
    }

    .left-part {
      background: $white;
      padding: 20px;

      .container {
        border: 3px dotted $black;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3:last-of-type {
          padding-bottom: 20px;
        }

        .img1 {
          background: url(../img/ic-plate.png) no-repeat center/cover;
          width: 30px;
          height: 30px;
        }

        p {
          text-align: center;
          line-height: 25px;
          padding: 20px 0;
        }

        .img2 {
          background: url(../img/avatar-01.jpg) no-repeat center/cover;
          width: 100px;
          height: 100px;
          border-radius: 50px;
        }

        h4 {
          font-family: $font2;
          color: $black;
          padding-top: 20px;
        }

        h5 {
          font-family: $font2;
          text-transform: uppercase;
          color: $grey;
        }
      }
    }

    .right-part {
      background: url(../img/store-01.jpg) center/cover;

      @media screen and (max-width:800px) {
        display: none;
      }
    }
  }
}